.title{
    font-size: 20px;
    margin-left: 10px;
    color: #0d0d0f;
    font-family: Arial;
}
.co{
    border-color: #0d0d0f;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 5px 10px 3px 20px;

}
.fa{
    color: #3b3e47;
}.dropbtn {
    background-color: ivory;
     color: white;
     padding: 5px;
     font-size: 16px;
     border: none;
     cursor: pointer;
 }

/* ĐỔi màu nền khi hover và focus Dropdown button */
.dropbtn:hover, .dropbtn:focus {
    background-color: ivory;
}

/* Định dạng các thẻ bao bọc các menu */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content, mặc định sẽ được ẩn đi */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Định dạng các thẻ a là các menu con */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Thay đổi màu nền khi các menu con được hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Hiển thị menu, ta sẽ dùng javascript để thêm class này vào các nôi dung cần được hiển thị */
.show {display:block;}